*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.topo{
    width: 100%;
    background-color: #604829;
    position: fixed;
    z-index: 1;
}

.topo .logo{
    position: relative;
    width: 80px;
    height: 90px;
    left: 15%;
    cursor: pointer;
}

.topo .menu{
    position: relative;
    float: right;
    display: flex;
    list-style-type: none;
    right: 15%;
    top:25px;
}

.topo .menu li a{
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
    color: #c4a47c;
    padding: 10px;
    font-family: 'Oswald', sans-serif;
    text-shadow: 2px 2px #000000;
    text-transform: uppercase;
}

.topo .menu li a:hover{
    font-size: 24px;
    color: #ffd8a9;
    box-shadow: 0px 0px 63px 0px rgba(0,0,0,0.1);

}

#banner {
    height: 100vh;
    background-image: url("../img/parallax-imagem1.png");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#banner .titulo-banner{
    text-align: center;
    position: relative;
    top: 40%;
    font-size: 80px;
    color: white;
    font-weight: 400;
    font-family: 'Fraunces', serif;
    text-transform: uppercase;
}

#informacoes{
    width: 100%;
    background-color: #fff;
}

#informacoes .h2-informacoes{
    text-align: center;
    padding-bottom: 2%;
    color: #c4a47c;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
    padding-top: 80px;
}

#informacoes .paragrafo-informacoes{
    max-width: 1024px;
    margin: 0 auto;
    padding: 0px 20px;
    font-size: 16px;
    line-height: 34px;
    text-align: center;
    color: #666;
    padding-bottom: 80px;
}

#informacoes .paragrafo-informacoes p{
    max-width: 1024px;
}

#informacoes .fundo-informacoes{
    background-image:url("../img/parallax-imagem2.jpg");
    height: 50vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#informacoes .titulo-banner{
    position: relative;
    text-align: center;
    top: 45%;
    right: 0;
    left: 0;
    width: 500px;
    padding: 10px;
    margin: 0 auto;
    background-color:#604829;
    color: #fff;
    font-family:'Fraunces', serif;
    font-weight: 400;
    font-style: italic;
}

#informacoes .fundo-informacoes2{
    background-image:url("../img/parallax-imagem3.jpg");
    height: 50vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#contatos{
    background-image:url("../img/parallax-imagem4.png");
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

#contatos .h2-contatos{
    position: absolute;
    text-align: center;
    margin: 0 auto;
    width: 500px;
    padding: 50px;
    top: 5%;
    right: 0;
    left: 0;
    font-family: 'Oswald', sans-serif;
    background-color:#604829;
    color: #fff;
    font-size: 1.7em;
    font-weight: 500;
    padding: 10px;
}

#contatos .localizacao{
    position: absolute;
    margin: auto;
    width: 1024px;
    height: 450px;
    top: 20%;
    right: 0;
    left: 0;
    
}

#contatos .endereco{
    position: absolute;
    text-align: center;
    color: white;
    width: 500px;
    padding: 10px;
    bottom: 7%;
    right: 0;
    left: 0;
    margin: 0 auto;
}

#contatos .endereco p{
    background-color:#604829;
    color: #fff;
    font-family:'Fraunces', serif;
    font-size: 14px;
    padding: 10px;
    font-weight: 400;
}

#horarios{
    background-image:url("../img/cafeteria.jpg");
    height: 85vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

#horarios .titulo-horarios{
    position: absolute;
    top: 20%;
    right: 0;
    left: 0;
    color: white;
    text-align: center;
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    
}

#horarios .lista{
    color: #fff;
    position: absolute;
    width: 768px;
    bottom: 20%;
    right: 0;
    left: 0;
    text-align: center;
    margin: 0 auto;
    list-style-type: none;
    font-family: "Oswald", sans-serif;
}

#horarios .lista li{
    position: relative;
}

#horarios .lista li h3{
    margin-bottom: 20px;
    color: #fff;
    position: relative;
    left: -43%;
}


#horarios .lista li div{
    width: 70%;
    height: 1px;
    background-color: #acacac;
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    bottom: 50%;
    margin: 0 auto;
} 

#horarios .lista li p, span{
    position: absolute;
    top: 0;
    right: 0;
    font-family: "Oswald", sans-serif;
    font-weight: 700;
} 

#horarios .lista li p{
    color: #acacac;
}

#horarios span{
    color: #c4a47c;
}

#rodape {
    position: relative;
    background-color: #000000;
    color: #fff;
    padding: 20px 0;
    line-height: 34px;
    letter-spacing: 2px;
    font-family:'Lato', serif;
    text-align: center;
    font-weight: 600;
}

#rodape  span{
    position: relative;
    color: #c4a47c;
    padding: 20px 0;
    line-height: 34px;
    letter-spacing: 2px;
    font-family:'Lato', serif;
    text-align: center;
    font-weight: 600;
}

#rodape a img{   
    display: inline-block;
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 80px;
    right: 50px;
}


